body {
    background-color:#f8f8f2;
    color:  #282a36;
}

.property-card {
    max-height:fit-content;
    max-width: 350px; /* Example max-width to control horizontal size */
    margin: 0 auto; /* To center the div horizontally */
    font-size: small;
    margin-bottom: 15px; /* Adjust as needed */
    transition: box-shadow 0.4s; /* Add transition for smooth effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #44475a; /* Dracula card background color */
    color: #f8f8f2; 
}

.property-card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    background-color: #8be9fd; /* Example highlight color */
}


.img-fluid.rounded-start{
    border: 6px solid #333; /* Example border style */
    border-radius: 8px; /* Example border radius */
}

.card-type,
.card-address {
    margin-bottom: 0px; /* You can adjust this value to set the desired gap */
}