.searchBar {
    justify-content: center;
    align-items: center;
}
.searchResults {
    margin-top: 1px;
    background-color: #f8f8f2;
    -webkit-text-fill-color: #44475a;
    overflow-y: auto;
    max-height: 30px;
}
/* .searchResults:focus {
    background-color: #44475a;
    -webkit-text-fill-color: #f8f8f2;
} */
.cursor-pointer:hover {
    background-color: #44475a;
}